{% extends 'base.html.twig' %}

{% block title %}{{ animal.species }} {{ animal.name }}{% endblock %}

{% block body %}
	<div class="row">
        <div class="col-md-6">
            <img
                src="{{ animal.image }}"
                class="card-img-top"
                alt="{{ animal.name }} image"
            >
        </div>
        <div class="col-md-6">
            <div>
            <h2>{{ animal.name }}</h2>
            <p>{{ animal.species }} {{ animal.breed }}</p>
            <p class="mb-1">
                <b>Date of birth:</b>
                {{ animal.birth ?? 'not known' }}
            </p>
            <p class="mb-1">
                <b>Gender:</b>
                {{ animal.gender }}
            </p>
            <p class="mb-1">
                <b>Color:</b>
                {{ animal.color }}
            </p>
            <p class="mb-1">
                <b>Height:</b>
                {{ animal.height }} cm
            </p>
            <p class="mb-1">
                <b>Weight:</b>
                {{ animal.weight }} kg
            </p>
            </div>
        </div>
	</div>
{% endblock %}
