{% extends 'base.html.twig' %}

{% block title %}{{ animal.species }} {{ animal.name }}{% endblock %}

{% block body %}
	<div class="row mb-2">
        <div class="col-md-6">
            <img
                src="{{ animal.image }}"
                class="card-img-top"
                alt="{{ animal.name }} image"
            >
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{ animal.name }}</h2>
                {% if is_granted('ROLE_CARER') %}
                    <div>
                        <a
                            href="{{ path('animal_editor', {
                                'id': animal.id
                            }) }}"
                            class="btn btn-primary"
                            role="button"
                        >
                            Edit
                        </a>
                        {{ include('modal.html.twig', {
                            modal_act: path('animal_del', { id: animal.id }),
                            modal_btn: 'Delete',
                            modal_title: 'Delete this animal?',
                            modal_desc: 'Are you sure you want to delete it?'
                        }) }}
                    </div>
                {% endif %}
            </div>

            <p>{{ animal.species }} {{ animal.breed }}</p>
            <p class="mb-1">
                <b>Date of birth:</b>
                {{ animal.birth ? animal.birth|date('d.m.Y') : 'not known' }}
            </p>
            <p class="mb-1">
                <b>Gender:</b>
                {{ animal.gender }}
            </p>
            <p class="mb-1">
                <b>Color:</b>
                {{ animal.color }}
            </p>
            <p class="mb-1">
                <b>Height:</b>
                {{ animal.height }} cm
            </p>
            <p class="mb-1">
                <b>Weight:</b>
                {{ animal.weight }} kg
            </p>
            <p class="mb-1">
                <b>Discovery date:</b>
                {{ animal.discoveryDate|date('d.m.Y') }}
            </p>
            <p class="mb-1">
                <b>Discovery place:</b>
                {{ animal.discoveryPlace }}
            </p>
            {% if animal.handicap %}
                <p class="mb-1">
                    <b>Handicap:</b>
                    {{ animal.handicap }}
                </p>
            {% endif %}
            <p class="mb-1">
                <b>Castrated:</b>
                {{ animal.castration ? 'yes' : 'no' }}
            </p>
        </div>
	</div>
    <div id="calendar-holder" style="max-height: calc(100vh - 80px);"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl = document.getElementById('calendar-holder');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                editable: true,
                eventSources: [
                    {
                        url: '/fc-load-events',
                        method: 'POST',
                        extraParams: {
                            filters: JSON.stringify({
                                id: {{ animal.id }}
                            })
                        },
                        failure: () => {
                            // alert('There was an error while fetching FullCalendar!');
                        },
                    },
                ],
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                timeZone: 'UTC',
            });

            calendar.render();
        });
    </script>
{% endblock %}
