{% extends 'base.html.twig' %}

{% block title %}Animals{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
	    <h1>Animals</h1>

        {% if is_granted('ROLE_CARER') %}
            <a
                href="{{ path('animal_editor') }}"
                class="btn btn-primary"
                role="button"
            >
                +
            </a>
        {% endif %}
    </div>

    {% if animals is empty %}
        <p>No volunteers found...</p>
    {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Species</th>
                    <th scope="col">Breed</th>
                    {% if is_granted('ROLE_CARER') %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for animal in animals %}
                    {% set editUrl = path('animal_editor', {
                        'id': animal.id
                    }) %}
                    <tr
                        style="cursor: pointer"
                        onclick="location.href = '{{ editUrl }}'"
                    >
                        <td class="align-middle">
                            <img
                                src="{{ asset(animal.image) }}"
                                alt="{{ animal.name }} image"
                                style="height: 50px";
                            />
                        </td>
                        <td class="align-middle">{{ animal.name }}</td>
                        <td class="align-middle">{{ animal.species }}</td>
                        <td class="align-middle">{{ animal.breed }}</td>
                        {% if is_granted('ROLE_CARER') %}
                            <td class="align-middle" style="width: 1%">
                                {{ include('modal.html.twig', {
                                    modal_act:
                                        path('animal_del', { id: animal.id }),
                                    modal_btn: 'Delete',
                                    modal_title: 'Delete this animal?',
                                    modal_desc:
                                        'Are you sure you want to delete it?',
                                    modal_target: 'modal-' ~ animal.id
                                }) }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
