{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <h1>{{ user.name }} {{ user.surname }}</h1>

        <div class="d-inline-flex">
            {% for role in roles %}
                <form method="POST"
                    action="{{ path('admin_user', { 'id': user.id }) }}"
                >
                    <input type="hidden"
                        name="act"
                        value="{{ (role.is ? 'r_' : 'a_') ~ role.name }}"
                    >
                    <button type="submit"
                        class="badge rounded-pill {{
                            role.is ? 'bg-primary' : 'bg-secondary'
                        }}"
                        style="color: #fff; text-decoration: none"
                    >{{ role.name }}</button>
                </form>
            {% endfor %}
        </div>
        <br><br>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone ? user.phone : 'not given' }}</p>
        <form method="POST"
            action="{{ path('admin_user', { 'id': user.id }) }}"
        >
            <input type="hidden" name="act" value="delete">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    {% endif %}
{% endblock %}
