{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>{{ user.name }} {{ user.surname }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {% for role in roles %}
            <a href="{{ path('admin_user', {
                    'id': user.id, 'act': (role.is ? 'r_' : 'a_') ~ role.name
                }) }}"
                class="badge rounded-pill {{
                    role.is ? 'bg-primary' : 'bg-secondary'
                }}"
                style="color: #fff; text-decoration: none"
                >{{ role.name }}</a>
        {% endfor %}
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <a href="{{ path('admin_user', { 'id': user.id, 'act': 'delete' }) }}"
            class="btn btn-danger"
            >Delete</a>
    {% endif %}
{% endblock %}
