<nav class="nav flex-column">
    <a class="nav-link" href="{{ path('animal_overview') }}">Animals</a>
    <a class="nav-link" href="{{ path('registrations') }}">Registrations</a>
    <a class="nav-link" href="{{ path('requests') }}">Requests</a>
    <a class="nav-link" href="{{ path('admin_verify') }}">Verify</a>
    <a class="nav-link" href="{{ path('walks') }}">Walks</a>
</nav>
