{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h2>{{ user.name }} {{ user.surname }}</h2>

    <div class="d-flex gap-1 mb-3">
        {{ form_start(verifyForm) }}
            {% set bg = user.verified ? 'bg-primary' : 'bg-secondary' %}
            {{ form_widget(verifyForm.verify, {
                'attr': {
                    'class': 'btn badge rounded-pill ' ~ bg,
                    'style': 'color: #fff',
                }
            }) }}
        {{ form_end(verifyForm) }}

        {{ form_start(toVerifyForm) }}
            {% set bg = user.verified is same as(false) ?
                'bg-primary' : 'bg-secondary' %}
            {{ form_widget(toVerifyForm.to_verify, {
                'attr': {
                    'class': 'btn badge rounded-pill ' ~ bg,
                    'style': 'color: #fff',
                }
            }) }}
        {{ form_end(toVerifyForm) }}

        {{ form_start(denyForm) }}
            {% set bg =
                user.verified is null ? 'bg-primary' : 'bg-secondary' %}

            {{ form_widget(denyForm.deny, {
                'attr': {
                    'class': 'btn badge rounded-pill ' ~ bg,
                    'style': 'color: #fff',
                }
            }) }}
        {{ form_end(denyForm) }}
    </div>

    <p>{{ user.email }}</p>
    <p class="mb-1">
        <b>Phone:</b> {{ user.phone }}
    </p>
{% endblock %}
