<button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#{{ modal_target ?? 'modal' }}"
    onclick="event.stopPropagation();"
>
    {{ modal_btn ?? 'Open modal' }}
</button>

<div
    class="modal fade"
    id="{{ modal_target ?? 'modal' }}"
    tabindex="-1"
    aria-labelledby="modalLabel"
    aria-hidden="true"
    onclick="event.stopPropagation();"
>
    <form method="post" action="{{ modal_act }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">
                        {{ modal_title ?? 'Modal' }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                    </button>
                </div>
                <div class="modal-body">
                    {{ modal_desc ?? '' }}
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {{ modal_btn ?? 'Submit' }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>