{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h2>Registration</h2>

    <p>Animal: {{ animal.name }}</p>
    <p>Walk: {{ start }} - {{ end }}</p>
    <p>Volunteer: {{ user ? user.volunteer.user.email : '-' }}</p>

    {% if user and user.state != 'returned' %}
        {% if user.state == 'selected' %}
            {% set action = 'Borrow' %}
        {% else %}
            {% set action = 'Return' %}
        {% endif %}
        <form method="POST"
            action="{{ path('registration', { 'id': walk.id }) }}"
        >
            <input type="hidden" name="{{ action }}" value="{{ user.id }}">
            <button type="submit" class="btn btn-primary">{{ action }}</button>
        </form>
    {% endif %}

    <h3>Adepts</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>
            {% for adept in adepts %}
                <tr>
                    <td class="align-middle">
                        {% if adept.volunteer %}
                            {{ adept.volunteer.user.email }}
                        {% else %}
                            <i>&lt;deleted user&gt;</i>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        {% if adept.state == 'waiting' %}
                            <form method="POST"
                                action="{{
                                    path('registration', { 'id': walk.id })
                                }}"
                            >
                                <input type="hidden"
                                    name="select"
                                    value="{{ adept.id }}"
                                >
                                <button type="submit" class="btn btn-primary">
                                    Select
                                </button>
                            </form>
                        {% else %}
                            {{ adept.state }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
